<%- include('./partials/header')%>

<form action="/forgot-password/<%=id%>" method="post" class="bg-slate-300 w-[40%] p-10 m-auto mt-10 ">
    <input type="password" placeholder="new password" name="password" class="w-full text-xl p-2 mt-10">
    <button class="w-full text-xl p-2 text-white bg-slate-800 mt-10">set new password</button>
</form>

<%- include('./partials/footer')%>