<%- include('./partials/header')%>

<form action="/login" method="post" class="bg-slate-300 w-[40%] p-10 m-auto mt-10 ">
  <input type="text" placeholder="username" name="username" class="w-full text-xl p-2 mt-10">
  <input type="password" placeholder="password" name="password" class="w-full text-xl p-2 mt-10">
  <a href="/email-check">Forgot Password?</a>
  <button class="w-full text-xl p-2 text-white bg-slate-800 mt-10">Log In</button>
  <p class="mt-10">Don't have an account?<a href="/signup">SignUp</a> </p>
  
</form>

<%- include('./partials/footer')%>